<% if (config.player.aplayer.enable) { %>
  <div id="player" class="aplayer">
    <div class="aplayer-inner">
      <div class="aplayer-play">
        <audio id="audio-player" preload="<%= config.player.aplayer.options.preload %>" autoplay="<%= config.player.aplayer.options.autoplay %>" loop="<%= config.player.aplayer.options.loop %>">
          <source src="<%= config.player.aplayer.options.audio[0].url %>" type="audio/mp3">
        </audio>
      </div>
    </div>
  </div>
<% } %>
